{
    "swagger": "2.0",
    "info": {
        "description": "Api Documentation",
        "version": "1.0",
        "title": "Api Documentation",
        "termsOfService": "urn:tos",
        "contact": {},
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0"
        }
    },
    "host": "gov-mo-accept-apv-be-daily.default-2.ingress.dxsp.tech",
    "basePath": "/",
    "tags": [
        {
            "name": "TabServiceNoticeLog-api",
            "description": "Tab Service Notice Log Controller"
        },
        {
            "name": "TabServiceNoticeLogDetail-api",
            "description": "Tab Service Notice Log Detail Controller"
        },
        {
            "name": "basic-error-controller",
            "description": "Basic Error Controller"
        },
        {
            "name": "form管理",
            "description": "Form Manage Controller"
        },
        {
            "name": "form表單數據管理",
            "description": "Form Data Manage Controller"
        },
        {
            "name": "form表單模板管理",
            "description": "Form Template Manage Controller"
        },
        {
            "name": "operation-handler",
            "description": "Operation Handler"
        },
        {
            "name": "results-receive-controller",
            "description": "Results Receive Controller"
        },
        {
            "name": "web-mvc-links-handler",
            "description": "Web Mvc Links Handler"
        },
        {
            "name": "事项基本要素管理",
            "description": "Item Controller"
        },
        {
            "name": "事项配置/运行属性管理/配置环节信息",
            "description": "Flow Node Controller"
        },
        {
            "name": "办件列表、办件审批管理",
            "description": "Approval Controller"
        },
        {
            "name": "办件材料",
            "description": "Work Material Controller"
        },
        {
            "name": "办件详情、综合查询、我的待补正补交查询管理",
            "description": "Sw Approval Controller"
        },
        {
            "name": "受理地點管理",
            "description": "Tab Acceptance Address Controller"
        },
        {
            "name": "审批意见管理",
            "description": "Approve Opinion Controller"
        },
        {
            "name": "接口API管理",
            "description": "Datasource Manage Controller"
        },
        {
            "name": "支付API",
            "description": "Pay Controller"
        },
        {
            "name": "支付方式相关api",
            "description": "Pay Channel Controller"
        },
        {
            "name": "收费项管理",
            "description": "Tab Fee Item Controller"
        },
        {
            "name": "日志管理",
            "description": "System Log Controller"
        },
        {
            "name": "服务信息配置",
            "description": "Tab Service Controller"
        },
        {
            "name": "服务审核组配置",
            "description": "Tab Service Group Controller"
        },
        {
            "name": "業務統計管理",
            "description": "Statistic Work Controller"
        },
        {
            "name": "櫃檯受理",
            "description": "Accept Controller"
        },
        {
            "name": "流程管理",
            "description": "Transact Documents Controller"
        },
        {
            "name": "流程管理-对接流程中心",
            "description": "Flow Controller"
        },
        {
            "name": "用户登录",
            "description": "Login Controller"
        },
        {
            "name": "社工部門回調API",
            "description": "Work Completion Controller"
        },
        {
            "name": "站内消息",
            "description": "Net Message Controller"
        },
        {
            "name": "系統參數管理",
            "description": "Sys Param Controller"
        },
        {
            "name": "系统管理",
            "description": "Management Controller"
        },
        {
            "name": "繳費記錄查詢",
            "description": "Payment Record Controller"
        },
        {
            "name": "補交記錄",
            "description": "Work Change Record Controller"
        },
        {
            "name": "辦件管理",
            "description": "Work Controller"
        },
        {
            "name": "附件上传、下载",
            "description": "Attachment Controller"
        }
    ],
    "paths": {
        "/ResultsReceive/approval-info/{workId}": {
            "get": {
                "tags": [
                    "results-receive-controller"
                ],
                "summary": "待办事务/结果物領取/結果物領取-確認/服務結果領取確認單-申請信息",
                "operationId": "queryApprovalInfoUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "workId",
                        "in": "path",
                        "description": "办件id",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回«ApprovalInfoVO»"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/ResultsReceive/confirm": {
            "post": {
                "tags": [
                    "results-receive-controller"
                ],
                "summary": "待办事务/结果物領取/确认",
                "operationId": "saveReceiveResultsUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "confirmResultsReceiveDTO",
                        "description": "confirmResultsReceiveDTO",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ConfirmResultsReceiveDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回«boolean»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/ResultsReceive/sign": {
            "post": {
                "tags": [
                    "results-receive-controller"
                ],
                "summary": "待办事务/结果物領取/查看/确认/確認簽名",
                "operationId": "receiveResultsUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "createResultsReceiveDTO",
                        "description": "createResultsReceiveDTO",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateResultsReceiveDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回«boolean»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/ResultsReceive/works": {
            "post": {
                "tags": [
                    "results-receive-controller"
                ],
                "summary": "待办事务/结果物領取/分页搜索结果物列表",
                "operationId": "searchServiceResultsUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "serviceResultsQueryDTO",
                        "description": "serviceResultsQueryDTO",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ServiceResultsQueryDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回«ApiPageResult«ServiceResultsQueryVO»»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/ResultsReceive/{workId}": {
            "get": {
                "tags": [
                    "results-receive-controller"
                ],
                "summary": "待办事务/结果物領取/查看/获取结果物领取",
                "operationId": "serviceResultsByWorkIdUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "workId",
                        "in": "path",
                        "description": "办件id",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回«ResultsReceiveVO»"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/accept/apply": {
            "post": {
                "tags": [
                    "櫃檯受理"
                ],
                "summary": "app端受理",
                "description": "app端受理。返回辦件申請編碼",
                "operationId": "acceptWorkUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "acceptInfo",
                        "description": "acceptInfo",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/受理信息"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回«接受辦件後返回»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/accept/service-detail": {
            "get": {
                "tags": [
                    "櫃檯受理"
                ],
                "summary": "獲取服務的表單及材料信息",
                "description": "獲取服務的表單及材料信息",
                "operationId": "serviceDetailUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "serviceCode",
                        "in": "query",
                        "description": "服務編碼",
                        "required": true,
                        "type": "string",
                        "allowEmptyValue": false,
                        "x-example": "1748-01"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回«服務詳細材料、表單信息»"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/actuator": {
            "get": {
                "tags": [
                    "web-mvc-links-handler"
                ],
                "summary": "links",
                "operationId": "linksUsingGET",
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "object",
                                "additionalProperties": {
                                    "$ref": "#/definitions/Link"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/actuator/archaius": {
            "get": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingGET",
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/actuator/auditevents": {
            "get": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingGET_1",
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/actuator/beans": {
            "get": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingGET_2",
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/actuator/caches": {
            "get": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingGET_4",
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingDELETE_1",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "deprecated": false
            }
        },
        "/actuator/caches/{cache}": {
            "get": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingGET_3",
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingDELETE",
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "deprecated": false
            }
        },
        "/actuator/conditions": {
            "get": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingGET_5",
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/actuator/configprops": {
            "get": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingGET_6",
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/actuator/env": {
            "get": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingGET_8",
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingPOST",
                "consumes": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingDELETE_2",
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "deprecated": false
            }
        },
        "/actuator/env/{toMatch}": {
            "get": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingGET_7",
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/actuator/features": {
            "get": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingGET_9",
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/actuator/gts": {
            "get": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingGET_10",
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/actuator/health": {
            "get": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingGET_13",
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/actuator/health/{component}": {
            "get": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingGET_12",
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/actuator/health/{component}/{instance}": {
            "get": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingGET_11",
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/actuator/heapdump": {
            "get": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingGET_14",
                "produces": [
                    "application/octet-stream"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/actuator/httptrace": {
            "get": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingGET_15",
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/actuator/info": {
            "get": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingGET_16",
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/actuator/loggers": {
            "get": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingGET_18",
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/actuator/loggers/{name}": {
            "get": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingGET_17",
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingPOST_1",
                "consumes": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/actuator/mappings": {
            "get": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingGET_19",
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/actuator/metrics": {
            "get": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingGET_21",
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/actuator/metrics/{requiredMetricName}": {
            "get": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingGET_20",
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/actuator/refresh": {
            "post": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingPOST_2",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/actuator/scheduledtasks": {
            "get": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingGET_22",
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/actuator/sessions": {
            "get": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingGET_24",
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/actuator/sessions/{sessionId}": {
            "get": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingGET_23",
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingDELETE_3",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "deprecated": false
            }
        },
        "/actuator/threaddump": {
            "get": {
                "tags": [
                    "operation-handler"
                ],
                "summary": "handle",
                "operationId": "handleUsingGET_25",
                "produces": [
                    "application/json",
                    "application/vnd.spring-boot.actuator.v2+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/data-exchange/return-service-application-process-and-result": {
            "post": {
                "tags": [
                    "社工部門回調API"
                ],
                "summary": "部門辦件審批辦結回調",
                "operationId": "takeCheckProcessAndResultUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "requestText",
                        "description": "requestText",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/data-exchange/service-application-accepted": {
            "post": {
                "tags": [
                    "社工部門回調API"
                ],
                "summary": "部門辦件受理回調接口",
                "operationId": "acceptAffairFinishUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "requestText",
                        "description": "requestText",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/approval-system/management/addMenu": {
            "post": {
                "tags": [
                    "系统管理"
                ],
                "summary": "新增目录",
                "operationId": "addMenuUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "command",
                        "description": "command",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MenuCommand"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/approval-system/management/assign-fast-menu": {
            "post": {
                "tags": [
                    "系统管理"
                ],
                "summary": "設置某個用戶快捷菜單",
                "operationId": "assignUserFastMenuUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "menuIds",
                        "description": "menuIds",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer",
                                "format": "int64"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回«boolean»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/approval-system/management/assignGroup": {
            "post": {
                "tags": [
                    "系统管理"
                ],
                "summary": "用户分配用户组",
                "operationId": "assignGroupUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "relation",
                        "description": "relation",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PositionUserRelation"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/approval-system/management/assignMember": {
            "post": {
                "tags": [
                    "系统管理"
                ],
                "summary": "部门分配用户",
                "operationId": "assignMemberUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "relation",
                        "description": "relation",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DepartmentUserRelation"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/approval-system/management/assignMenu": {
            "post": {
                "tags": [
                    "系统管理"
                ],
                "summary": "用户组授权菜单",
                "operationId": "assignMenuUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "command",
                        "description": "command",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MenuCommand"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/approval-system/management/deleteMenu": {
            "post": {
                "tags": [
                    "系统管理"
                ],
                "summary": "删除目录",
                "operationId": "deleteMenuUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "command",
                        "description": "command",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MenuCommand"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/approval-system/management/deletePosition": {
            "post": {
                "tags": [
                    "系统管理"
                ],
                "summary": "删除用户组",
                "operationId": "deletePositionUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "command",
                        "description": "command",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DepartmentPositionRelationCommand"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/approval-system/management/fast-menus": {
            "get": {
                "tags": [
                    "系统管理"
                ],
                "summary": "獲取所有快捷菜單",
                "operationId": "getAllFastMenuUsingGET",
                "produces": [
                    "*/*"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回«List«FastMenuResult»»"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/approval-system/management/getAllMenu": {
            "post": {
                "tags": [
                    "系统管理"
                ],
                "summary": "获取所有目录信息",
                "operationId": "getAllMenuUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回«List«Menu»»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/approval-system/management/getDepartment": {
            "post": {
                "tags": [
                    "系统管理"
                ],
                "summary": "获取部门层级关系",
                "operationId": "getDepartmentUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回«List«DepartmentTree»»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/approval-system/management/getGroup": {
            "post": {
                "tags": [
                    "系统管理"
                ],
                "summary": "获取部门下用户组",
                "operationId": "getGroupUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "command",
                        "description": "command",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DepartmentQuery"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回«PageResult«List«Position»»»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/approval-system/management/getMember": {
            "post": {
                "tags": [
                    "系统管理"
                ],
                "summary": "获取部门下用户信息",
                "operationId": "getMemberUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "query",
                        "description": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DepartmentMemberQuery"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回«PageResult«List«DepartmentMember»»»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/approval-system/management/getMenu": {
            "post": {
                "tags": [
                    "系统管理"
                ],
                "summary": "用户登录获取菜单信息",
                "operationId": "getMenuUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回«List«Menu»»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/approval-system/management/getUserInfo": {
            "post": {
                "tags": [
                    "系统管理"
                ],
                "summary": "获取用户信息",
                "operationId": "getUserInfoUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "command",
                        "description": "command",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UserInfoCommand"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回«PageResult«List«Userinfo»»»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/approval-system/management/resetPassword": {
            "post": {
                "tags": [
                    "系统管理"
                ],
                "summary": "重置密码",
                "operationId": "resetPasswordUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "command",
                        "description": "command",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UserInfoCommand"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/approval-system/management/unlock": {
            "post": {
                "tags": [
                    "系统管理"
                ],
                "summary": "解锁用户",
                "operationId": "unlockUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "command",
                        "description": "command",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UserInfoCommand"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回«Userinfo»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/approval-system/management/updateMenu": {
            "post": {
                "tags": [
                    "系统管理"
                ],
                "summary": "更新菜单",
                "operationId": "updateMenuUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "command",
                        "description": "command",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MenuCommand"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/approval-system/management/user-fast-menu": {
            "get": {
                "tags": [
                    "系统管理"
                ],
                "summary": "獲取某個用戶的快捷菜單",
                "operationId": "getUserFastMenuUsingGET",
                "produces": [
                    "*/*"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回«List«FastMenuResult»»"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/approval-system/system/log/exportExcel": {
            "get": {
                "tags": [
                    "日志管理"
                ],
                "summary": "导出excel",
                "operationId": "exportExcelUsingGET_1",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "operationIds",
                        "in": "query",
                        "description": "operationIds",
                        "required": true,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/approval-system/system/log/getOperationLog": {
            "post": {
                "tags": [
                    "日志管理"
                ],
                "summary": "获取日志记录",
                "operationId": "getOperationLogUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "query",
                        "description": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SystemLogQuery"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回«PageResult«List«SystemLogResponse»»»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/approval-system/system/log/getOperationType": {
            "get": {
                "tags": [
                    "日志管理"
                ],
                "summary": "获取模块信息",
                "operationId": "getOperationTypeUsingGET",
                "produces": [
                    "*/*"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/标准返回«List«OperationLogTempModel»»"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/approval/InitPay": {
            "post": {
                "tags": [
                    "办件列表、办件审批管理"
                ],
                "summary": "發起繳費",
                "operationId": "InitPayUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "approvalPassQuery",
                        "description": "approvalPassQuery",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BaseApprovalQuery"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
[...]
